.distribution-table-container {
    margin: 2em 1em;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 20px 25px -15px $boxshadowgray;
    border: solid 1px $bordergrey;
    .distribution-table {
        th {
            border-top: none;
        }
        td {
            vertical-align: middle;
        }
        .token-info-row {
            .token-info {
                display: flex;
                align-items: center;
                .token-icon {
                    width: 30px;
                    margin-right: 10px;
                }
            }
        }
    }
}
