.funds-tab-container {
	.funds-type-tab .nav-item {
		margin-top: 0.25em;
		color: $grey;
		font-size: 24px;
		&.active {
			border: none;
			background-color: transparent;
			font-weight: 600;
			color: $purple;
		}
	}
	.heading-row {
		margin: 20px 0;
		text-align: left;
		color: $grey;
		padding: 0 20px;
	}
	.funds-list-group {
		// padding: 0 1.5em;
		padding: 0;
		background-color: transparent;
		margin-top: 20px;
		.sort-button-container {
			background-color: transparent;
			padding: 0px 20px;
			border: 0;
			color: $grey;
			font-size: small;

			svg {
				color: $purple;
			}
		}
	}
	.no-funds-container {
		margin: 20px auto;
		border: none;
	}
	@media #{$ipadLandscape, $ipadPortrait, $mobile} {
		.funds-type-tab .nav-item {
			font-size: 20px;
			padding: 5px 10px;
		}
		.funds-list-group {
			.sort-button-container {
				display: none;
			}
		}
	}
}
